@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    font-family:"Roboto",sans-serif;
    font-weight: 400;
    background-color: #eeeeee;
    box-sizing: border-box;

}
.header{
z-index: 10001;
            .nav-1{
                .logo{
                    h3{
                         padding : 10px 0 8px  40px ;
                         font-size:40px;
                         font-family: "Caveat", cursive;
                         font-optical-sizing: auto;
                         font-weight: 700;
                         font-style: normal;
                         cursor: pointer;
                        i{
                            font-size: 28px;
                        }
                    }

                }
                .btn_nav_1{
                    /*border:1px solid goldenrod ;*/
                    margin-right: 20px;
                    .bt-a{
                         padding:10px 40px;
                         border-radius:20px;
                         font-size:14px;
                         font-weight: 400;
                         cursor: pointer;
                        transition: ease-in-out 0.6s;

                    }
                    .bt-a:hover{
                        color:#ffffff;
                        background-color:#222;
                        transition: ease-in-out 0.5s;
                    }
                    .bt-b{
                          padding:10px 40px;
                          border-radius:20px;
                          font-size:14px;
                          font-weight: 400;
                          background-color: #000000;
                          color:#ffffff;  
                          cursor: pointer;
                    }
                    .bt-b:hover{
                        color:#fff;
                        background-color:#0c0b0bc9;
                        transition: ease-in-out 0.5s;
                    
                    }


                }
            }







    
    .nav-1{
       /* border: 4px solid red;*/
        display: flex;
        justify-content: space-between;
        align-items: center;


    }
    .nav-2{
       /* border: 4px solid blue ;*/
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

        ul{
            li{      display: inline-flex;
                     justify-content: space-between;
                     align-items: center;
                     margin-left: 20px;
                     padding:10px 15px;
                a{
                    
                     text-decoration: none;
                     color:#222;
                     transition: 0.5s;
                     
                }
                a:hover{
                    color:#666;
                    transform: translateY(-3px);
                    
                }
                a:active{
                    color:#000;
                    transition: 0.3s;
                }
            }
           

        }
        .btn-nav-2{
           /* border:2px solid green;*/
            margin-right: 40px;
            
            display:flex;
            justify-content: space-between;
            align-items: center;
            
            .bt1{
                padding:10px 40px;
                border-radius:20px;
                font-size:14px;
                font-weight: 500;
                border:#555 solid 2px;
                cursor: pointer;

               

            }
            .bt1:hover{
                color:#ffffff;
                background-color: #555;
                transition: 0.5s;
                transform: translatey(-2px);

            }         
            .bt1:active{
              
               background-color: #222;
            }


           .bt2{
                  color:#000000;
                  margin-left:15px;
                  border:none;
                  font-size:22px;
                  font-weight: 200;
                  cursor: pointer;

               }
              .bt2:hover{
                color:#555;
                transform: translatey(-2px);
                transition: 0.4s;
                transform:ease-out 0.9;
               

              } 

        }


    }

}
.bar-search{
    margin: 50px;
    padding:300px 190px; 
    border:1px solid black;
    border-radius: 25px;
    background-image: url(imges/img-bar-search.jpg);
    background-repeat: none;
    background-size:cover;
    justify-content: center;

    
    
    h2{
        background-color: transparent;
        color:#ffffff;
        font-size: 50px;
        font-family:"Roboto",sans-serif;
        margin-top:-120px;
        margin-left: 200px;
    }
    input{
        height: 50px;
        width: 700px;
        margin-left: 18px;
        border-radius:  15px 0  0 0;
        font-size: 16px;
        padding-left:12px;
        outline: none;
        margin-left: 250px;
    }
   button{
    font-size: 16px;
    padding:13px 50px;
    border-radius: 0 0 15px 0;
    
   }
       .bar-link-src{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin-top: 20px;
        margin-left: -30px;
        list-style: none;
        
        li{
            padding:15px 40px;
            background-color: transparent;
            a{
                background-color: #e2e2e291 ;
                border:1px solid #e2e2e2;
                border-radius: 15px;
                padding: 4px 15px;
                color:#000000;
                text-decoration: none;
               
            }
            a:hover{
                background-color: #e2e2e2e0;
                transition: ease-out 0.4s;
                
            }
        }
       }
       


    

    
}

.secetion{
    h2{
        color:#333;
        font-size: 30px;
        list-style: circle;
        margin-left: 50px;
        text-decoration: underline;
    }
    a{
        text-decoration: none;
        color:#000;
        font-family:"Roboto",sans-serif;

    }
    
    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        
    }
    .card{
        width: 325px;
        background-color: #f0f0f0;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        margin:20px;

    }
    .card:hover{
        transform: translateY(-8px);
        box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
        transition: ease-out 0.4s;
        
    }
    .card img{
        width: 100%;
        height: 420px;
    }
    .card-content{
        padding: 16px;

    }
    .card-content h3{
        font-size: 28px;
        margin-bottom: 8px;

    }
    .card-content .btn-card{
        display: inline-block;
        padding:8px 16px ;
        background-color: #333;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 16px;
        color:#fff;
        
    }
    .card-content .btn-card:hover{
        background-color:#727171ee;
        transition: ease-out 0.3s;
        transform: translateY(-3px);
    }
}
.bar-info {
    border: 1px solid #333 ;
    background-color: #333;
    padding:15px;
    display: flex;
    justify-content: center;
    
    
}
.bar-info .link-info{
   background-color:#333 ;
   
}
.bar-info .link-info a  {
    
    background-color: transparent;
    margin:0px 30px;
    color:#FFF;
    font-size: 25px;
     
    position: relative;
    transition: all 0.3s;
    
     i{
        background-color: transparent;
      }
      i:hover{
        color:#9e9e9ef3;
        transition: ease-out 0.7s;
        transform: translateY(-1px);
        
        


    }
      
}

