@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
    
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:90vh;
    background: #dfdfdf;

}
#btn-back-home{
    color:#333;
    font-size:18px;
    text-decoration: none;
}
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:500px;
    height:700px;
    padding:30px;
    overflow:hidden;
    
}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
    
    
}
.login-header header{
    color:#333;
    font-weight: 600;
    font-size:30px;
}
.input-box .input-field{
    width:100%;
    height:60px;
    font-size:17px;
    padding:0 25px;
    margin-bottom:15px;
    border-radius:30px;
    border:none;
    box-shadow:0px 5px 10px 1px rgba(0,0,0,0.05);
    outline:none;
    transition: .3s;

}

::placeholder{
    font-weight:500;
    color: #222;

}
.input-field:focus{
width:105%;
}

.input-submit{
    position:relative;
}
.submit-btn{
    width:100%;
    height:60px;
    background: #222;
    border:none;
    border-radius:30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position:absolute;
    top:45%;
    left:50%;
    color:#fff;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #000;
    transform: scale(1.05,1);
}

.sing-up-link p{       
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 20px;
        cursor: default;
}
.link{
    font-size:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
} 
.link a{
    margin:0 10px;
    color:#333;
}
.link a:hover{
    color:#555;
    transform: translateY(-2px);
    transition: 0.6s;
}